.container {
    margin-top: 7vh;
}
@media screen and (min-width: 601px) {
  div.container {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.container {
    font-size: 30px;
  }
}
body {
    background-color: black !important;
    color: white !important;
}